@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}
.wind::before {
  content: "\f72e";
  font-family: "FontAwesome";
  padding-right: 10px;
}
.humidity::before {
  content: "\f043";
  font-family: "FontAwesome";
  padding-right: 10px;
}
.weather-description::first-letter {
  text-transform: uppercase;
}
.play-list {
  text-align: left;
}
.play-title-now {
  height: 20px;
}
.active {
  animation: transformAnimation 10s linear infinite;
}
@keyframes transformAnimation {
  0% {
    transform: translate(-100%, 0%);
  }

  100% {
    transform: translate(100%, 0%);
  }
}
.play-title {
  list-style-type: none;
}
.play-title::before {
  content: "\f00c";
  font-family: "FontAwesome";
  padding-right: 10px;
}
.player-progress {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.progress-container {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #e7dfb6;
  margin: 10px auto;
}
.progress {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #c5b358;
}
.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
}
.weather-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 70px;
  font-size: 14px;
  color: rgb(255, 0, 0);
  text-align: center;
}
.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}
.date::first-letter {
  text-transform: uppercase;
}
.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 20px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
  transition: all 2s ease 0.5s;
}

.author {
  min-height: 20px;
  transition: all 2s ease 0.5s;
}
.footer-container {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: -30px auto 0;
}
.github {
  display: block;
  width: 120px;
  height: 45px;
  text-decoration: none;
  padding-left: 45px;
  background-image: url("../assets/svg/github.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 45px;
  color: #cbd5de;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}
.github:hover {
  color: #fff;
}
.rss {
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 86px;
  height: 32px;
  background-image: url("../assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 111px;
}
.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #cbd5de;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}
.rss:hover .rss-year {
  right: -5px;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
@media (max-width: 400px) {
  .date {
    min-height: 28px;
    font-size: 18px;
    margin-bottom: 0px;
  }
  .time {
    font-size: 50px;
  }

  .greeting-container {
    flex-direction: column;
    font-size: 28px;
  }
  .name {
    font-size: 28px;
    padding: 5px;
    text-align: center;
  }
}
